:root{
    --dark-brown:#0D0D0D;
    --brown:#590902;
    --terra:#59463F;
    --dark-orange: #8C3604;
    --orange:#F2790F;
    --yellow:#F2B33D;
    --white: #fff;
}
html {
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
}
.contenedor{
    width: 1200px;
    margin: 0 auto;
}

header {
    margin: 0;
    padding: 0;
    background: var(--yellow);
    height: 80px;
    position: relative;
    margin-top: 75px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 100%;
}

header h1 {
    display: block;
    width: 183px;
    height: 223px;
    text-indent: -99999px; 
    margin-left: 490px;
    background-image: url(../imgs/bezierbar_logo.svg);
}

header nav {
    display: flex;
    justify-content: center;
}

.menu_izquierdo {
    position: absolute;
    left: 190px;
}

.menu_derecho {
    position: absolute;
    right: 190px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height:100%;
}

header nav ul li {
    margin: 0 15px;

}

header nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 23px 15px;
    display:block;
    font-family: "Mina";
    font-weight: bold;
    font-size: 19px;

}

header nav ul li a:hover {
    background: linear-gradient(0deg, rgba(242,121,15,1) 0%, rgba(242,179,61,1) 100%);
}
main {
    padding: 15px;
    position: relative;
}
main .hero{
    position: relative;
    padding-top:60px;
}
main .hero img{
    height:732px;
    width: 100%;
}
main .hero img:nth-child(2){
    position: absolute;
    width: 376px;
    height: 550px;
    left: 82%;
    top: 55%;
    transform: translate(-50%,-50%);
    z-index: 1;

}
main .info{
 position: absolute;
 top: 10%;
 left: 36%;

 z-index: 2;
 color: var(--white);
}
main .info p:nth-child(1){
    font-size: 70px;
    transform: translate(-50%,10%);
    font-family: "Mina";
    font-weight: bold;
    
}
main .info p:nth-child(2){
    font-size: 33px;
    font-family: "Mina";
    transform: translate(-50%,10%);
    font-weight: 100;
}

main .info button{
    background: var(--yellow);
    border: none;
    border-radius: 10px;
    transform: translate(-140%,50%);
    color: var(--white);
    font-size: 20px;
    color: var(--dark-brown);
    font-family: "Mina";
    font-weight: bold;
    padding: 10px 20px;
}

main .info button:hover{
    background: linear-gradient(0deg, rgba(242,121,15,1) 0%, rgba(242,179,61,1) 100%);
}
footer{
    background: #59463F;
    padding: 15px;
}